<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Decal.Adapter" publicKeyToken="bd1c8ce002ce221e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.7.5" newVersion="2.9.7.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <assemblySettings>
    <add key="LogFilepath" value="%APPDATA%\ThwargLauncher\Logs\Mag-Filter_%PID%_log.txt" />
    <!-- Log levels: Min=0, None=0, Error=1, Info=2, Debug=3, Max=3 -->
    <add key="LogLevel" value="Debug" />
    <add key="ServerOnlineTimeoutSeconds" value="30" />
  </assemblySettings>
</configuration>