<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Mag_SuitBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <userSettings>
        <Mag_SuitBuilder.Properties.Settings>
            <setting name="ColumnWidths" serializeAs="String">
                <value>117,21,21,82,143,145,93,498,79,150,83,79,105,26,66,21,21,21,38,38,38,38,38,38,38,38,26,41,26,50,38,21,21,21,21,21,21,21,21,21,26,47,41,38,38,38,38</value>
            </setting>
            <setting name="InitialLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="InitialSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </Mag_SuitBuilder.Properties.Settings>
    </userSettings>
</configuration>
