<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Decal.Adapter" publicKeyToken="bd1c8ce002ce221e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.7.5" newVersion="2.9.7.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>